[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crewai = "*"
crewai-tools = "*"
python-dotenv = "*"
openai = "*"
faker = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
